{% extends 'template.html' %}

{% block content %}
<h1>Login</h1>

<form method="POST" action="">
  {{ form.hidden_tag() }}

  <div class="form-group">
    <label for="emailInput">{{ form.email.label }}</label>
    {{ form.email(class='form-control', type='email', placeholder='Email') }}
    {% if form.email.errors %}
    {% for error in form.email.errors %}
    <div class="invalid-feedback">
      {{ error }}
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <div class="form-group">
    <label for="passwordInput">{{ form.password.label }}</label>
    {{ form.password(class="form-control", type="password", placeholder="Password") }}
    {% if form.password.errors %}
    {% for error in form.password.errors %}
    <div class="invalid-feedback">
      {{ error }}
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <div class="form-group form-check">
    {{ form.remember(class="form-check-input", type='checkbox') }}
    <label class="form-check-label" for="exampleCheck1">{{ form.remember.label }}</label>
  </div>
  {{ form.submit(class="btn btn-primary") }}

</form>

<hr>
<div>
  <p class="text-center">
    You dont have an account? <a href="{{ url_for('users.register') }}">Create new here</a> or
    did you <a href="{{ url_for('users.resetRequest') }}">Forgot password?</a>
  </p>
</div>

{% endblock content %}