<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="./../static/main.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon"
        href="https://res.cloudinary.com/webmeetings/image/upload/v1481581052/dev-conferences/vracckpe6ch0yvlunzbj.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>App</title>
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Flask App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ url_for('main.about') }}" class="nav-link">
                        About
                    </a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
                </li>

                {{ current_user.group_id }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administration
                        {% if session['newPostNotify'] %}
                        <span class="badge badge-danger">{{ session['newPostNotify'] }}</span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('admin.index') }}">Administration</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('posts.waitingPosts') }}">Approve posts
                            {% if session['newPostNotify'] %}
                            <span class="badge badge-danger">{{ session['newPostNotify'] }}</span>
                            {% endif %}
                        </a>
                        <a class="dropdown-item" href="{{ url_for('admin.userAdmin') }}">Users</a>
                        <a class="dropdown-item" href="{{ url_for('admin.groups') }}">Groups</a>
                        <a class="dropdown-item" href="{{ url_for('admin.roles') }}">Roles</a>
                    </div>
                </li>

                {% endif %}

            </ul>
            <div class="form-inline my-2 my-lg-0">
                {% if current_user.is_authenticated %}
                <a class="" href="{{ url_for('admin.index') }}">Administration</a>
                <a href="{{ url_for('users.userProfile', id=current_user.id) }}" class="btn btn-link">
                    <strong>
                        <i class="fas fa-user"></i>
                        {{ current_user.name }}
                    </strong>

                    <a href="{{ url_for('users.logout') }}" class="btn btn-outline-primary">
                        Log out
                    </a>
                    {% else %}
                    <a href="{{ url_for('users.login') }}" class="btn btn-link">
                        Log in
                    </a>
                    <a href="{{ url_for('users.register') }}" class="btn btn-primary">
                        <strong>Sign up</strong>
                    </a>
                    {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="mt-4">
            {% block content %}

            {% endblock content %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small cyan darken-3 mt-4 main-footer">

        <!-- Footer Elements -->
        <div class="container">

            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 py-5">
                    <div class="mb-5 flex-center">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Pinterest-->
                        <a class="pin-ic">
                            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>